<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only">

    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-144x144.png" sizes="144x144">
    <link rel="icon" href="/assets/img/tentacle-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/img/tentacle-56x56.png" sizes="56x56" type="image/png">
    <link rel="icon" href="/assets/img/tentacle-76x76.png" sizes="76x76" type="image/png">
    <link rel="mask-icon" href="/assets/img/mask-theme.svg" color="#13C100">
    <meta name="theme-color" content="#13C100">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">

    {% seo %}

  </head>
  <body id="_top" class="d-flex flex-column">